body {
  background-color: black;
  display: flex;
  justify-content: center;
}

.Screen {
  background-color: aqua;
  width: 640px;
  height: 360px;
}

.Img-Container {
  background-color: blue;
  width: 40%;
  height: 100%;
}